# Configuration File

@CONFIG_VERSION: 1.0.0

"Debugging" {
    # Enables all sorts of debugging stuff
    #  [default: false, synchronized: no]
    B:Enabled=false
}


"Tracking" {
    # When enabled, PE will hook into tiles and save who placed it to use the player object for permission checks.
    # On it's own this option does nothing, but allow other fixes to work better on a server environment with protection mods/plugins.
    #  [default: true, synchronized: no]
    B:Enabled=true

    # Determines whether BetterFakePlayers will proxy chat messages they receive to their owners. [default: true, synchronized: no]
    B:"Proxy FakePlayer Messages"=true
}


