# Configuration file

enricher {
    # Show attribute modifier information in tooltips. [default: true]
    B:attributeModifierIconsEnabled=true

    # Show burn time information in tooltips. [default: true]
    B:burnTimeEnabled=true

    # Show durability information in tooltips. [default: true]
    B:durabilityEnabled=true

    # Show enchantment hint text in tooltips. [default: true]
    B:enchantmentHintEnabled=true

    # Show enchantment icons in tooltips. [default: true]
    B:enchantmentIconsEnabled=true

    # Show food effect information in tooltips. [default: true]
    B:foodEffectsEnabled=true

    # Show food information in tooltips. [default: true]
    B:foodStatsEnabled=true

    # Show hotkey tooltip information. [default: true]
    B:hotkeysEnabled=true

    # Show keyboard modifier hints in tooltips. [default: true]
    B:keyboardModifiersEnabled=true

    # Show mod information in tooltips. [default: true]
    B:modInfoEnabled=true

    # Show ore dictionary information in tooltips. [default: true]
    B:oreDictionaryEnabled=true

    # Show stack amount information in tooltips. [default: true]
    B:stackAmountEnabled=true
}


general {
    # Enable resource pack themes. This allows resource packs to define custom tooltip themes. Disabling this will prevent the game from loading any tooltip themes defined in resource packs. [default: true]
    B:enabledResourcePackThemes=true

    # Maximum width of tooltips in scaled pixels. 0 = no limit. [range: 0 ~ 10000, default: 0]
    I:maxWidth=0

    # Scaling factor for tooltips. 0 = gui scale. Positive values increase the tooltip to the next scale steps, negative values decrease it. [range: -7 ~ 7, default: 0]
    I:scaleFactor=0

    # Hide tooltip lines matching these patterns. Regexp are case insensitive. [default: ]
    S:tooltipBlacklistLines <
     >

    # Delay in milliseconds before showing tooltips. [range: 0 ~ 10000, default: 0]
    I:tooltipShowUpDelay=0

    # Disabled tooltip animations. [default: false]
    B:transformDisabled=false
}


stackamount {
    # Threshold for compact formatting of fluid amounts (10^N). [range: -2147483648 ~ 2147483647, default: 9]
    I:fluidCompactThreshold=9

    # Hide stack amount when the stack size is below the item's max stack size. [default: true]
    B:hideWhenBelowMaxStackSize=true

    # Include container inventory when calculating stack amounts. [default: true]
    B:includeContainerInventory=true

    # Threshold for compact formatting of item stack amounts (10^N). [range: -2147483648 ~ 2147483647, default: 6]
    I:itemCompactThreshold=6
}


