# Configuration file

general {
    # Ativa ou desativa o modo de debug (true/false)
    B:debugMode=false

    # MGZ Core Mod
    S:greeting=MGZCore

    # Player MAC address
    S:macAddress=

    # Player name
    S:playerName=
}


login {
    # Ativa ou desativa a mensagem de login
    B:enabled=true

    # Linhas a serem exibidas na mensagem de login; use {player} para inserir o nick do jogador
    S:messageLines <
     >
}


