# Configuration file

general {
    # Ativa ou desativa o modo de debug (true/false)
    B:debugMode=false

    # TotalCraft Core Mod
    S:greeting=TTCCore

    # Player MAC address
    S:macAddress=

    # Player name
    S:playerName=
}


login {
    # Ativa ou desativa a mensagem de login
    B:enabled=true

    # Linhas a serem exibidas na mensagem de login; use {player} para inserir o nick do jogador
    S:messageLines <
        §6-----------------------------------------------------
        §lBem Vindo ao TotalCraft {player}
        §9Este é o nosso servidor A Era do Futuro V3 na versão 1.7.10
        §9Temos algumas quests para te orientar na progressão
        §9Para acessa-las use a tecla de atalho -> B <-
        §2Nosso canal no YouTube TotalCraft link https://www.youtube.com/@totalcraft3783
        §aPor favor, se encontrar algum bug reporte no nosso discord
        §9https://discord.gg/8frSM4m
        §6-----------------------------------------------------
     >
}


