# Configuration file

general {
    #  [range: 3 ~ 100, default: 20]
    I:"Height of umbrella blocks above player"=20

    #  [range: 2 ~ 200, default: 10]
    I:"Ticks the umbrella blocks will stay after being out of the radius"=10

    #  [range: 2 ~ 60, default: 9]
    I:"Umbrella radius"=9
}


