# Configuration file

general {
    I:waila.cfg.alpha=80
    I:waila.cfg.bgcolor=1048592
    I:waila.cfg.fontcolor=10526880
    I:waila.cfg.gradient1=5243135
    I:waila.cfg.gradient2=2621567
    I:waila.cfg.heartsperline=20
    B:waila.cfg.keybind=true
    B:waila.cfg.liquid=false
    I:waila.cfg.maxhpbeforetext=40
    B:waila.cfg.metadata=false
    B:waila.cfg.newfilters=true
    I:waila.cfg.posx=5000
    I:waila.cfg.posy=100
    I:waila.cfg.scale=100
    B:waila.cfg.show=true
    B:waila.cfg.showicon=true
    B:waila.cfg.showmode=true
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Those are the config keys defined in modules.
# Server side, it is used to enforce keys client side using the next section.
##########################################################################################################

modules {
    B:bc.tankamount=true
    B:bc.tanktype=true
    B:bm.bloodAltar=true
    B:bm.chemistrySet=true
    B:bm.ritualController=true
    B:bm.teleposer=true
    B:enderstorage.colors=true
    B:extrautilities.fluidamount=true
    B:facades.hidden=true
    B:general.showcrop=true
    B:general.showents=true
    B:general.showhp=true
    B:ic2.cable.color=true
    B:ic2.cable.loss=true
    B:ic2.cable.max=true
    B:ic2.cont.in=true
    B:ic2.cont.info=true
    B:ic2.cont.prod=true
    B:ic2.cont.use=true
    B:ic2.outputeu=true
    B:ic2.sink.in=true
    B:ic2.sink.req=true
    B:ic2.source.packets=true
    B:ic2.source.prov=true
    B:ic2.storage=true
    B:ic2.storage.info=true
    B:ic2.storage.tele=true
    B:option.vampirism.showAltarInfo=true
    B:option.vampirism.showEntityInfo=true
    B:option.vampirism.showPlayerInfo=true
    B:thaumcraft.aspects=true
    B:thermaldynamics.fluidDuctsAmount=true
    B:thermaldynamics.fluidDuctsFluid=true
    B:thermalexpansion.cache=true
    B:thermalexpansion.energycell=true
    B:thermalexpansion.energyhandler=true
    B:thermalexpansion.fluidamount=true
    B:thermalexpansion.fluidtype=true
    B:thermalexpansion.owner=true
    B:thermalexpansion.rfenergybar=true
    B:thermalexpansion.tankmode=true
    B:thermalexpansion.tessfreq=true
    B:thermalexpansion.tesssendrecv=true
    B:vanilla.comparator=true
    B:vanilla.jukebox=true
    B:vanilla.leverstate=true
    B:vanilla.redstone=true
    B:vanilla.repeater=true
    B:vanilla.show_invisible_players=true
    B:vanilla.silverfish=true
    B:vanilla.spawntype=true
}


##########################################################################################################
# server_forcing
#--------------------------------------------------------------------------------------------------------#
# Any key set to true here will ensure that the client is using the configuration set in the 'module' section above.
# This is useful for enforcing false to 'cheating' keys like silverfish.
##########################################################################################################

server_forcing {
    B:bc.tankamount=false
    B:bc.tanktype=false
    B:bm.bloodAltar=false
    B:bm.chemistrySet=false
    B:bm.ritualController=false
    B:bm.teleposer=false
    B:enderstorage.colors=false
    B:extrautilities.fluidamount=false
    B:facades.hidden=false
    B:general.showcrop=false
    B:general.showents=false
    B:general.showhp=false
    B:ic2.cable.color=false
    B:ic2.cable.loss=false
    B:ic2.cable.max=false
    B:ic2.cont.in=false
    B:ic2.cont.info=false
    B:ic2.cont.prod=false
    B:ic2.cont.use=false
    B:ic2.outputeu=false
    B:ic2.sink.in=false
    B:ic2.sink.req=false
    B:ic2.source.packets=false
    B:ic2.source.prov=false
    B:ic2.storage=false
    B:ic2.storage.info=false
    B:ic2.storage.tele=false
    B:option.vampirism.showAltarInfo=false
    B:option.vampirism.showEntityInfo=false
    B:option.vampirism.showPlayerInfo=false
    B:thaumcraft.aspects=false
    B:thermaldynamics.fluidDuctsAmount=false
    B:thermaldynamics.fluidDuctsFluid=false
    B:thermalexpansion.cache=false
    B:thermalexpansion.energycell=false
    B:thermalexpansion.energyhandler=false
    B:thermalexpansion.fluidamount=false
    B:thermalexpansion.fluidtype=false
    B:thermalexpansion.owner=false
    B:thermalexpansion.rfenergybar=false
    B:thermalexpansion.tankmode=false
    B:thermalexpansion.tessfreq=false
    B:thermalexpansion.tesssendrecv=false
    B:vanilla.comparator=false
    B:vanilla.jukebox=false
    B:vanilla.leverstate=false
    B:vanilla.redstone=false
    B:vanilla.repeater=false
    B:vanilla.show_invisible_players=false
    B:vanilla.silverfish=false
    B:vanilla.spawntype=false
}


