# Configuration file

domes {
    # Items that cannot be used while inside an Energy Dome.
    # Format: modid:itemname (e.g., minecraft:ender_pearl) [default: [minecraft:ender_pearl]]
    S:"Item Blacklist" <
        minecraft:ender_pearl
     >
}


explosions {
    # If true, explosive ENERGY projectile abilities can destroy terrain.
    # This is intended for server-side use and is disabled by default. [default: false]
    B:"Enable Energy Explosion Block Damage"=false
}


