# Configuration file

"changing background" {
    B:backgroundChanging=true
    S:blendTimeMilliseconds=2000.0
    I:changeFrequency=40
    B:shouldGLClear=false
}


general {
    S:font=textures/font/ascii.png

    # Play a sound after minecraft has finished starting up [default: true]
    B:playSound=true
    S:sound=betterloadingscreen:rhapsodia_orb

    # Whether or not to use minecraft's display to show the progress. This looks better, but there is a possibility of not being compatible, so if you do have any strange crash reports or compatibility issues, try setting this to false
    # Note: IIRC, setting this to false makes the screen black [default: true]
    B:useMinecraft=true
}


imgur {
    B:useImgur=false
}


layout {
    S:GTProgressBarPos=[0, 0, 194, 24, 0, -83, 188, 12]
    S:GTProgressBarPosAnimated=[0, 24, 194, 24, 0, -83, 188, 12]
    S:background=betterloadingscreen:textures/backgrounds/01.png
    S:backgroundList={betterloadingscreen:textures/backgrounds/01.png, betterloadingscreen:textures/backgrounds/02.png}
    S:loadingBarsAlpha=1.0
    S:loadingBarsColor=ffffff
    S:mainProgressBar=betterloadingscreen:textures/mainProgressBar.png
    S:mainProgressBarAnimated=betterloadingscreen:textures/mainProgressBar.png
    S:mainProgressBarPercentagePos=[0, -40]
    S:mainProgressBarPos=[0, 0, 194, 24, 0, -50, 194, 16]
    S:mainProgressBarPosAnimated=[0, 24, 194, 24, 0, -50, 194, 16]
    S:mainProgressBarTextPos=[0, -30]
    S:materialProgressBar=betterloadingscreen:textures/GTMaterialsprogressBars.png
    S:materialProgressBarAnimated=betterloadingscreen:textures/GTMaterialsprogressBars.png
    S:materialProgressBarPercentagePos=[0, -75]
    S:materialProgressBarTextPos=[0, -65]
    S:memoryBarPos=[0, 0, 194, 24, 0, 48, 194, 16]
    S:memoryBarPosAnimated=[0, 24, 194, 24, 0, 48, 194, 16]
    B:randomBackgrounds=true
    S:textColor=ffffff
    B:textShadow=true
    S:title=betterloadingscreen:textures/transparent.png
    S:titlePos=[0, 0, 256, 256, 0, 50, 187, 145]
}


skepticism {
    B:salt=false
}


tips {
    S:baseTipsTextPos=BOTTOM_CENTER
    S:customTipFilename=en_US
    I:tipsChangeFrequency=18
    B:tipsEnabled=true
    S:tipsTextColor=ffffff
    S:tipsTextPos=[0, 5]
    B:tipsTextShadow=true
    B:useCustomTips=false
}


