# Configuration file

general {
    # Enable compatibility with Blood Magic: Alchemical Wizardry [default: true]
    B:AWWayofTimeEnabled=true

    # Enable compatibility with Adventure Backpack [default: true]
    B:adventurebackpackEnabled=true

    # Enable compatibility with AE2 Fluid Crafting [default: true]
    B:ae2fcEnabled=true

    # Enable compatibility with AE2 Wireless Crafting Terminal [default: true]
    B:ae2wctEnabled=true

    # Enable compatibility with Akashic Tome [default: true]
    B:akashictomeEnabled=true

    # Enable compatibility with AppleCore [default: true]
    B:appleCoreEnabled=true

    # Hide food stats in AppleCore tooltips [default: true]
    B:appleCoreFoodStatsDisabled=true

    # Enable stack size display for Applied Energistics items [default: false]
    B:appliedEnergisticsAmountEnabled=false

    # Enable compatibility with Applied Energistics [default: true]
    B:appliedEnergisticsEnabled=true

    # Enable compatibility with Avaritia [default: true]
    B:avaritiaEnabled=true

    # Enable compatibility with Backpack Edited for ModdedNetwork [default: true]
    B:backpackEnabled=true

    # Enable compatibility with Baubles [default: true]
    B:baublesEnabled=true

    # Enable compatibility with Baubles Expanded [default: true]
    B:baublesExpandedEnabled=true

    # Enable compatibility with Better Questing [default: true]
    B:betterQuestingEnabled=true

    # Enable compatibility with Binnie Core [default: true]
    B:binnieCoreEnabled=true

    # Enable compatibility with Blood Arsenal [default: true]
    B:bloodArsenalEnabled=true

    # Enable compatibility with Botania [default: true]
    B:botaniaEnabled=true

    # Enable compatibility with BuildCraft [default: true]
    B:buildcraftEnabled=true

    # Enable compatibility with CodeChicken Core [default: true]
    B:codeChickenCoreEnabled=true

    # Enable compatibility with Computronics [default: true]
    B:computronicsEnabled=true

    # Enable compatibility with Draconic Evolution [default: true]
    B:draconicEvolutionEnabled=true

    # Enable compatibility with Electro-Magic Tools [default: true]
    B:emtEnabled=true

    # Enable compatibility with Ender Core [default: true]
    B:enderCoreEnabled=true

    # Enable compatibility with Forestry [default: true]
    B:forestryEnabled=true

    # Enable compatibility with Galacticraft Core [default: true]
    B:galacticraftcoreEnabled=true

    # Enable compatibility with Gendustry [default: true]
    B:gendustryEnabled=true

    # Enable compatibility with GregTech [default: true]
    B:gregtechEnabled=true

    # Enable compatibility with GTNHLib [default: true]
    B:gtnhlibEnabled=true

    # Enable compatibility with Hardcore Ender Expansion [default: true]
    B:hardcoreEnderExpansionEnabled=true

    # Enable compatibility with HoloInventory [default: true]
    B:holoinventoryEnabled=true

    # Enable compatibility with IndustrialCraft 2 [default: true]
    B:industrialCraft2Enabled=true

    # Enable compatibility with Inventory Tweaks [default: true]
    B:inventoryTweaksEnabled=true

    # Enable compatibility with Just Enough Calculation [default: true]
    B:jecalculationEnabled=true

    # Enable compatibility with JourneyMap [default: true]
    B:journeymapEnabled=true

    # Enable compatibility with Logistics Pipes [default: true]
    B:logisticsPipesEnabled=true

    # Enable compatibility with Malisis Doors [default: true]
    B:malisisDoorsEnabled=true

    # Enable compatibility with Modular UI 2 [default: true]
    B:modularUI2Enabled=true

    # Enable compatibility with Modular UI [default: true]
    B:modularUIEnabled=true

    # Enable compatibility with NEI Custom Diagram [default: true]
    B:neicustomdiagramEnabled=true

    # Enable compatibility with Not Enough Items [default: true]
    B:notEnoughItemsEnabled=true

    # Enable compatibility with Railcraft [default: true]
    B:railcraftEnabled=true

    # Enable compatibility with Science Not Leisure [default: true]
    B:scienceNotLeisureEnabled=true

    # Enable compatibility with SFM [default: true]
    B:sfmEnabled=true

    # Enable compatibility with Spice of Life [default: true]
    B:spiceoflifeEnabled=true

    # Enable compatibility with Steve's Carts 2 [default: true]
    B:stevesCarts2Enabled=true

    # Enable compatibility with Storage Drawers [default: true]
    B:storageDrawersEnabled=true

    # Enable compatibility with Super Solar Panel [default: true]
    B:supersolarpanelEnabled=true

    # Enable compatibility with Thaumcraft [default: true]
    B:thaumcraftEnabled=true

    # Enable compatibility with Thaumic Energistics [default: true]
    B:thaumicenergisticsEnabled=true

    # Enable compatibility with Tinkers' Construct [default: true]
    B:tinkersConstructEnabled=true

    # Enable compatibility with Waila [default: true]
    B:wailaEnabled=true

    # Enable compatibility with Wawla [default: true]
    B:wawlaEnabled=true
}


